body {
    margin: 0;
    color: #fff;
    text-transform: uppercase;
}

#header {
    margin: 0;
    padding: 0;
    height: 10vh;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3, p {
    margin: 0;
    font-size: 20px;
}

#main_content {
    height: 80vh;
    display: flex;
    align-items: center;
}

#article, #left, #right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#article {
    background-color: deepskyblue;
    width: 60%;
    text-align: center;
}

#left {
    background-color: green;
    width: 20%;
}

#right {
    background-color: pink;
    width: 20%;
}

#footer {
    height: 10vh;
    width: 100%;
    background-color: mediumpurple;
    display: flex;
    justify-content: center;
    align-items: center;
}
