@media all and (max-width: 480px) {

    /* G A L L E R Y */

    #gallery-column1, #gallery-column2 {
        height: 50%;
        width: 99%;
    }

    /* S I D E    B A R  */

    #side-bar {
        width: 50%;
        right: -50%;
    }

    #side-bar h2 {
        font-size: 3.5vw;
    }
    
    #side-bar p {
        font-size: 2.5vw;
    }
}

@media all and (max-width: 480px) {

    #open-contact {
        width: 80px;
        height: 80px;
        font-size: 0.8em;
        top: 10px;
        left: -100px;
    }

    /* S I D E    B A R  */

    #side-bar {
        width: 50%;
        right: -50%;
    }

    #side-bar h2 {
        font-size: 4vw;
    }
    
    #side-bar p {
        font-size: 3vw;
    }

    #side-bar #social-media {
        width: 65%;
    }

    #side-bar #social-media i {
        transform: scale(1.1,1.1);
    }

    #side-bar form input, textarea {
        font-size: 8px;
    }

    #side-bar form button {
        font-size: 2.5vw;
    }
}
