html {
    padding: 0;
}

body {
    margin: 0;
    font-family: verdana;
    color: #fff;
    text-transform: uppercase;
}

#header {
    font-size: 1.2vw;
    height: 100vh;
    background-image: url(../img/man-1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

#text {
    position: absolute;
    left: 5%;
}



